/* COMMON */
.wrapper_60 {
    width: 60%;
    margin: 0 auto;
}
.wrapper_70 {
    width: 70%;
    margin: 0 auto;
}
.wrapper_40 {
    width: 40%;
    margin: 0 auto;
    position: relative;
}

body {
    margin-top: 70px;
}

h1,
h2,
h3 {
    margin: 0;     /* only for debug */           
}
.white_txt {
    color: white;
}
.blue_txt {
    color: #0332D0;
}
.grey_txt {
    color: grey;
}
.bold_txt {
    font-weight: 700;
}
.btn_form {
    background-color: #579AFF;
    color: white;
    font-weight: bold;
    transition: all .5s ease-in-out;
}
.btn_login {
    color: #579AFF;
    border: 1px solid #579AFF;
    background-color: transparent;
    transition: all .5s ease-in-out;
}
.underline {
    text-decoration: underline;
}

/* HEADER */
/* navbar */
h1 {
    font-size: 65px;
    color: white;
}

#navbar {
    background-color: white;
    border: none;
}
#navbar img {
    height: 100%;
    margin-right: 100px;
}
#navbar .navbar-brand {
    height: 70px;
}
#navbar .navbar-nav > li {
    height: 70px;
    line-height: 70px;
}

#navbar .navbar-nav > li > a:not(.btn) {
    line-height: 40px;
}
#navbar .navbar-nav > li > a:not(.btn_login) {
    color: black;
    transition: color .5s ease-in-out;
}
#navbar .navbar-nav > li > a:not(.btn_login):hover {
    color: #579AFF;
}
.fa-chevron-down {
    display: inline-block;
    vertical-align: middle;
}

#navbar .navbar-nav > li > a.btn_login {
    display: inline-block;
    padding: 6px 12px;
} 
#navbar .navbar-nav > li > .btn_login {
    color: #579AFF;
}
#navbar .navbar-nav > li > .btn_login:hover {
    color: white;
    background-color: #579AFF;
}

#navbar .navbar-right {
    margin-right: 1px;
}

#navbar .navbar-toggle {
    border: none;
    margin-top: 19px;
    margin-bottom: 19px;
}
#navbar .navbar-toggle span {
    background-color: #579AFF;
}

/* jumbotron */
#jumbotron {
    padding: 40px 0;
    background-image: url(../img/bg-banner-home.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
#jumbotron p {
    color: #579AFF;
    font-size: 1.7em;
}

#my_form {
    height: 100%;
    padding: 30px 20px;
    border-radius: 10px;
    color: black;
    background-color: white;
}
#my_form p {
    font-size: 2em;
}
#my_form input,
#my_form button,
#my_form p {
    margin-top: 10px;
}
.btn_form:hover {
    color: #579AFF;
    background-color: white;
    border: 1px solid #579AFF;
}
#google_icon:hover {
    color: #579AFF;
}
#google_icon {
    position: relative;
    font-weight: bold;
    color: grey;
}
#google_icon img {
    height: 20px;
    position: absolute;
    left: 5px;
}

/* companies */
#companies {
    padding: 40px 0;
    background-color: #F3F5F9;
}

.company_item {
    height: 100px;
    position: relative;
}  
.company_item img {
    height: 100%;
    width: 100%;
} 
#companies a {
    color: #579AFF;
    font-size: 1.2em;
    font-weight: bold;
    transition: color .5s ease-in-out;
} 
#companies a:hover {
    color: #0044C2;
    text-decoration: none;
}
#companies i {
    font-size: 0.8em;
}


/* MAIN (DEBUG) */
/* process */
#process {
    padding: 50px 0;  
} 
#process p {
    margin: 10px 0 40px 0;
}
#process aside {
    /* height: 100%; */
    margin-left: 15px;
    border-left: 1px solid grey;
}
#process aside ul {
    list-style: none;
    padding-left: 5px;
    margin: 0;
    text-align: left;
}
#process aside ul li {
    margin-bottom: 20px;
    font-size: 1.5em;
}
.process_items {
    /* height: 200px; */
    background-color: red;
    margin-bottom: 20px;
}  
.process_items p {
    font-size: 1em;
}

/* carousel */
#carousel {
    padding: 50px 0;
    background-color: #F3F5F9;
}
#carousel h2,
#carousel p {
    margin-bottom: 30px;
}
#carousel img {
    width: 100%;
    display: inline-block;
} 
figcaption {
    font-size: 1.4em;
    margin-top: 20px;
}
#carousel .cursor-left {
    position: absolute;
    top: 40%;
    left: -30px;
    color: grey;
}
#carousel .cursor-right {
    position: absolute;
    top: 40%;
    right: -30px;
}
.fa-circle {
    color: #006AFF;
    margin-top: 30px;
}

/* features */
#features {
    padding: 50px 0;
}
#features h2 {
    margin-bottom: 20px;
}

.feature_item {
    margin-top: 20px;
}
.feature_item a {
    font-size: 1.2em;
    color: #579AFF;
    font-weight: bold;
    transition: color .5s ease-in-out;
}
.feature_item a:hover {
    color: #0044C2;
    text-decoration: none;
}
.feature_item i {
    font-size: 0.8em;
}

/* speed test */
#speed_test {
    background: linear-gradient(#0044C2, #003CBA, #0026A1);
    padding: 40px 0;
}
#speed_test h2 {
    margin-bottom: 20px;
}
#speed_test a {
    color: #00B9CC;
    font-weight: bold;
    transition: color .5s ease-in-out;
}
#speed_test a:hover {
    color: white;
    text-decoration: none;
}
#speed_test i {
    font-size: 0.8em;
}

.line {
    padding: 5px 0;
}
.line:not(:last-child) {
    border-bottom: 1px solid white;
}
.line:last-child {
    margin-bottom: 20px;
}

/* dev-teams */
#dev_teams {
    background-color: #F3F5F9;
    padding-bottom: 50px;
}
#dev_teams h2 {
    padding: 60px 0;
}
#dev_teams .cursor-left {
    position: absolute;
    left: -30px;
    top: 175px;
    color: grey;
}
#dev_teams .cursor-right {
    position: absolute;
    right: -30px;
    top: 175px;
}
#dev_teams a {
    margin-top: 20px;
    font-size: 1.2em;
    font-weight: bold;
    color: #579AFF;
    transition: color .5s ease-in-out;
}
#dev_teams a:hover {
    color: #0044C2;
    text-decoration: none;
}

#dev_teams h4 {
    margin: 0;
}

.rockerbox {                       
    border-radius: 10px;
    background-color: white; 
    padding: 50px 20px;
}
.rockerbox img {
    width: 60%;
    margin-bottom: 30px;
}
.rockerbox i {
    font-size: 0.8em;
}



/* start now */
#start_now {
    padding: 50px 0;
    background: linear-gradient(#0044C2, #003CBA, #0026A1);
}
#start_now h3 {
    font-size: 40px;
    margin-bottom: 30px;
}
a.btn_light {
    color: #247EFF;
    background-color: white;
    transition: all .5s ease-in-out;
    font-weight: bold;
}
a.btn_light:hover {
    color: white;
    background: linear-gradient(#0044C2, #003CBA, #0026A1);
    border: 1px solid white;
}

/* FOOTER */
footer {
    height: 460px;
    padding: 30px 0;
    background-color: blue;
}
.h-80-footer {
    height: 80px;
    background-color: teal;
    border: 1px solid red;
} 

@media screen and (max-width: 768px) {
    .wrapper_60,
    .wrapper_70 {
        width: 100%;
    }

}
/* @media screen and (max-width: 991px) {
    .company_item img {
        height: 200px;
    }
} */
 
/* @media (max-width: 990px) {
    .navbar-header {
        float: none;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-collapse.collapse {
        display: none!important;
    } 
    .navbar-nav {
        float: none!important;
        margin: 7.5px -15px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
}  */