/* COMMON */
.wrapper_40 {
    width: 40%;
    margin: 0 auto;
    position: relative;
}
.wrapper_70 {
    width: 70%;
    margin: 0 auto;
}
.wrapper_80 {
    width: 80%;
    margin: 0 auto;
}

body {
    margin-top: 70px;
}

.white_txt {
    color: white;
}
.azure_txt {
    color: #8EA4DB;
}
.grey_txt {
    color: #7C879F;
}
.bold_txt {
    font-weight: 700;
}
.btn_form {
    background-color: #579AFF;
    color: white;
    font-weight: bold;
    transition: all .5s ease-in-out;
}
.btn_login {
    color: #579AFF;
    border: 1px solid #579AFF;
    background-color: transparent;
    transition: all .5s ease-in-out;
}
.underline {
    text-decoration: underline;
    font-weight: bold;
    transition: color .5s ease-in-out;
}
.underline:hover {
    color: #003CBA;
}

/* HEADER */
/* navbar */
h1 {
    font-size: 65px;
    font-weight: bold;
    color: white;
}

#navbar {
    background-color: white;
    border: none;
}
#navbar img {
    height: 100%;
    margin-right: 100px;
}
#navbar .navbar-brand {
    height: 70px;
}
#navbar .navbar-nav > li {
    line-height: 70px;
}

#navbar .navbar-nav > li > a:not(.btn) {
    line-height: 40px;
}
#navbar .navbar-nav > li > a:not(.btn_login) {
    color: black;
    font-size: 1.1em;
    transition: color .5s ease-in-out;
}
#navbar .navbar-nav > li > a:not(.btn_login):hover {
    color: #579AFF;
}
.fa-chevron-down {
    display: inline-block;
    vertical-align: middle;
}

#navbar .dropdown-menu > li > a {
    color: black;
    transition: color .5s ease-in-out;
}
#navbar .dropdown-menu > li > a:hover {
    background-color: transparent;
    color: #579AFF;
}

#navbar .navbar-nav > li > a.btn_login {
    display: inline-block;
    padding: 6px 12px;
} 
#navbar .navbar-nav > li > .btn_login {
    margin-left: 13px;
    color: #579AFF;
}
#navbar .navbar-nav > li > .btn_login:hover {
    color: white;
    background-color: #579AFF;
}

#navbar .navbar-right {
    margin-right: 1px;
}

#navbar .navbar-toggle {
    border: none;
    margin-top: 19px;
    margin-bottom: 19px;
}
#navbar .navbar-toggle:focus {
    background-color: transparent;
}
#navbar .navbar-toggle:hover {
    border: 1px solid #579AFF;
    background-color: transparent;
}
#navbar .navbar-toggle span {
    background-color: #579AFF;
}


/* jumbotron */
#jumbotron {
    padding: 50px 0;
    background-image: url(../img/bg-banner-home.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
#jumbotron p {
    color: #8EA4DB;
    font-size: 1.7em;
}

#my_form {
    height: 100%;
    padding: 30px 20px;
    border-radius: 10px;
    color: black;
    background-color: white;
}
#my_form p {
    font-size: 2em;
    color: #046CFF;
}
#my_form input,
#my_form button,
#my_form p {
    margin-top: 10px;
}
.btn_form:hover {
    color: #579AFF;
    background-color: white;
    border: 1px solid #579AFF;
}
#google_icon {
    position: relative;
    font-weight: bold;
    color: grey;
    transition: color .5s ease-in-out;
}
#google_icon:hover {
    color: #579AFF;
}
#google_icon img {
    height: 20px;
    position: absolute;
    left: 5px;
}

/* companies */
#companies {
    padding: 40px 0;
    background-color: #F3F5F9;
}
#companies a {
    color: #579AFF;
    font-size: 1.2em;
    font-weight: bold;
    transition: color .5s ease-in-out;
} 
#companies a:hover {
    color: #0044C2;
    text-decoration: none;
}
#companies i {
    font-size: 0.8em;
}

.company_item {
    height: 100px;
    position: relative;
    padding: 0;
}  
.company_item img {
    height: 100%;
    max-width: 100%;
} 

/* MAIN */
/* process */
#process {
    padding-top: 60px;  
}  
#process h3 {
    margin: 10px 0 40px 0;
}

#process aside {
    border-left: 1px solid grey;
}
#process aside ul {
    list-style: none;
    padding-left: 5px;
    margin: 0;
    text-align: left;
}
#process aside ul li {
    margin-bottom: 20px;
    font-size: 1.5em;
}

.process_items {
    height: 250px;
}  
.process_items p {
    font-size: 1.2em;
}

/* carousel */
#carousel {
    padding: 50px 0;
    background-color: #F3F5F9;
}
#carousel h3 {
    padding: 0 10px;
}
#carousel figure {
    margin-top: 40px;
}
#carousel img {
    width: 100%;
} 
figcaption {
    font-size: 1.4em;
    margin-top: 20px;
}
#carousel .cursor-left {
    position: absolute;
    top: 40%;
    left: -30px;
    color: grey;
}
#carousel .cursor-right {
    position: absolute;
    top: 40%;
    right: -30px;
}
.fa-circle {
    color: #006AFF;
    margin-top: 30px;
}

/* features */
#features {
    padding: 50px 0;
}
#features h2 {
    margin-bottom: 20px;
}

.feature_item {
    margin-top: 20px;
}
.feature_item a {
    font-size: 1.2em;
    color: #579AFF;
    font-weight: bold;
    transition: color .5s ease-in-out;
}
.feature_item a:hover {
    color: #0044C2;
    text-decoration: none;
}
.feature_item i {
    font-size: 0.8em;
}

/* speed test */
#speed_test {
    background: linear-gradient(#0044C2, #003CBA, #0026A1);
    padding: 40px 0;
}
#speed_test h2 {
    margin-bottom: 20px;
}
#speed_test a {
    color: #00B9CC;
    font-weight: bold;
    transition: color .5s ease-in-out;
}
#speed_test a:hover {
    color: white;
    text-decoration: none;
}
#speed_test i {
    font-size: 0.8em;
}

.line {
    padding: 10px 0;
}
.line:not(:last-child) {
    border-bottom: 1px solid white;
}
.line:last-child {
    margin-bottom: 20px;
}

/* dev-teams */
#dev_teams {
    background-color: #F3F5F9;
    padding: 50px 0;
}
#dev_teams h2 {
    padding: 60px 0;
    margin: 0;
}
#dev_teams .cursor-left {
    position: absolute;
    left: -30px;
    top: 175px;
    color: grey;
}
#dev_teams .cursor-right {
    position: absolute;
    right: -30px;
    top: 175px;
}
#dev_teams a {
    margin-top: 20px;
    font-size: 1.2em;
    font-weight: bold;
    color: #579AFF;
    transition: color .5s ease-in-out;
}
#dev_teams a:hover {
    color: #0044C2;
    text-decoration: none;
}

#dev_teams h4 {
    margin: 0;
}

.rockerbox { 
    margin-top: 30px;                      
    padding: 50px 20px;
    border-radius: 10px;
    background-color: white; 
}
.rockerbox img {
    width: 100%;
    margin-bottom: 30px;
}
.rockerbox i {
    font-size: 0.8em;
}

/* start now */
#start_now {
    padding: 50px 0;
    background: linear-gradient(#0044C2, #003CBA, #0026A1);
}
#start_now h3 {
    font-size: 40px;
    margin-bottom: 30px;
}
a.btn_light {
    color: #247EFF;
    background-color: white;
    transition: all .5s ease-in-out;
    font-weight: bold;
}
a.btn_light:hover {
    color: white;
    background: linear-gradient(#0044C2, #003CBA, #0026A1);
    border: 1px solid white;
}

/* FOOTER */
footer {
    padding: 40px 0;
    background-color: #031C4E;
}

footer .list-inline i {
    margin-top: 20px;
    color: #7C879F;
    transition: color .5s ease-in-out;
}
footer .list-inline i:hover {
    color: #247EFF;
}
footer h5 {
    margin-top: 20px;
    margin-bottom: 0;
    font-size: 1.2em;
    color: #7C879F;
}
footer h5.white_txt {
    margin: 20px 0 5px 0;
    font-size: 1.4em;
    font-weight: bold;
}
footer span {
    font-size: 1.2em;
    color: #F3F5F9;
}
.block_list {
    padding-left: 0;
    list-style: none;
}
.block_list li {
    padding: 5px 0;
}
.block_list a {
    color: #7c879f;
    font-size: 1.1em;
    transition: color .5s ease-in-out;
}
.block_list a:hover {
    color: #247EFF;
    text-decoration: none;
}

/* HELP */
#help {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 3;
}
.help_img {
    height: 80px;
    position: relative;
}
.help_img img {
    height: 100%;
    border-radius: 10px;
    padding: 10px;
    background-color: #006AFF;
}

.number_container {
    position: absolute;
    right: -10px;
    top: -20px;
}
.circle_white {
    position: absolute;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: white;
}
.circle_red {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: red;
}
.circle_red,
.number {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.number {
    color: white;
    font-weight: bold;
}
.text {
    height: 100%;
    background-color: white;
    padding: 10px;
    border-radius: 10px;
}
.text p {
    text-align: left;
    font-size: 15px;
    font-weight: 400;
    margin-bottom: 0;
}
.text::before {
    content: '';
    position: absolute;
    bottom: 10px;
    right: 5px;
    height: 0;
    width: 0;
    border-style: solid;
    border-width: 8px 0px 8px 16px;
    border-color: transparent transparent transparent white;
}


/* MEDIA */
/* xs */
@media screen and (max-width: 768px) {
    
    .wrapper_40 {
        width: 60%;
    }
    .wrapper_70 {
        width: 100%;
    }
    #navbar img {
        height: 100%;
        margin-right: 0;
    }
    h1 {
        font-size: 40px;
    }
    h2 {
        font-size: 2.5em;
    }

    .process_items {
        height: 180px;
    }
    #process p {
        margin: 0;
    }
    #process p.lead {
        margin-bottom: 30px;
        font-size: 1.7em;
    }
    #features {
        padding: 60px 0;
    }
    #features p {
        margin-bottom: 5px;
    }
    .cursor-left,
    .cursor-right {
        display: none;
    }
    #carousel figure {
        margin-top: 100px;
    }
    #carousel figcaption {
        margin-bottom: 50px;
        font-size: 1.4em;
    }
    #dev_teams h2 {
        margin: 30px 0 60px 0;
        padding: 0 5px;
    }
}

/* sm */
@media screen and (min-width: 769px) and (max-width: 1199px) {

    h1 {
        font-size: 40px;
    }
    
    #process {
        padding-bottom: 60px;  
    }

    #carousel figure {
        margin-top: 100px;
    }
    #carousel figcaption {
        margin-bottom: 50px;
        font-size: 1.3em;
    }
    #features p {
        font-size: 1.2em;
    }
    #carousel .cursor-left,
    #carousel .cursor-right {
        top: 30%;
    }
    
    #speed_test {
        padding: 80px 0;
    }
    #speed_test h2 {
        font-size: 2.5em;
    }
}

/* media for toggle collapse on landscape mode tablets */
@media screen and (max-width: 1199px) and (orientation: landscape) {

    .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
        /* margin-right: 0; */
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
		top: 0;
		border-width: 0 0 1px;
	}
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
		margin-top: 7.5px;
	}
	.navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
  		display:block !important;
	}
}

/* media for toggle collapse on portrait mode tablets */
@media screen and (max-width: 992px) {

    .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
        /* margin-right: 0; */
        
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
		top: 0;
		border-width: 0 0 1px;
	}
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
		margin-top: 7.5px;
	}
	.navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
  		display:block !important;
	}
}

/* media for carousel cursors */
@media screen and (min-width: 769px) and (max-width: 999px) {

    #carousel .cursor-left,
    #carousel .cursor-right {
        top: 25%;
    }
}
@media screen and (min-width: 1000px) and (max-width: 1065px) {

    #carousel .cursor-left,
    #carousel .cursor-right {
        top: 30%;
    }
}

/* media for arrow & number container in xs size */
@media screen and (max-width: 550px) {

    #help {
        position: fixed;
        bottom: 20px;
        right: 30px;
        z-index: 3;
    }
    .number_container {
        position: absolute;
        right: -25px;
        top: -20px;
    }
    
    .text::before {
        bottom: 50px;
    }
} 